footer {
    background: $cyan;
    display: grid;
    place-items: center;
    height: 250px;

    a {
        display: block;
        text-align: center;
        color: $grayishBlue;
    }

    .logo {
        height: 30px;
        max-width: 230px;
        margin: auto;
    }

    .social { 
        margin-top: 4%;
        display: inline-flex;
        height: 50px;

        .social-ico {
            height: 50px;
            width: 50px;
        }
    }
}